@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid crimson; */
}

:root {
  --clr-dark-magenta: hsl(300, 43%, 22%);
  --clr-soft-pink: hsl(333, 80%, 67%);
  --clr-dark-gray-magenta: hsl(303, 10%, 53%);
  --clr-light-gray-magenta: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-orange: hsla(28, 84%, 61%, 1);

  --fnt-fam-body: 'Spartan', san-serif;
  --fnt-size-body: 0.9375rem;

  --width-mobile: 375px;
  --width-desktop: 1440px;

  --spacer: 1em;
  --border-radius: 8px;
}

body {
  background: url('./images/bg-pattern-top-mobile.svg'),
    url('./images/bg-pattern-bottom-mobile.svg');
  background-position: top center, bottom center;
  background-repeat: no-repeat;
  font-family: var(--fnt-fam-body);
  font-size: var(--fnt-size-body);
  color: var(--clr-dark-gray-magenta);
  margin: var(--spacer);
  min-height: 100vh;
  line-height: 2;
  text-align: center;
  margin-bottom: calc(var(--spacer) * 4);
}

h1 {
  font-size: clamp(32px, 14vw, 48px);
  color: var(--clr-dark-magenta);
  line-height: 1;
  margin: 6rem 0;
  margin-bottom: 1rem;
}

.review {
  background: hsl(300, 24%, 96%);
  color: var(--clr-dark-magenta);
  font-weight: bold;
  font-size: 0.8125rem;
  border-radius: var(--border-radius);
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
}

.review::before {
  display: flex;
  gap: var(--spacer);
  justify-content: center;
  content: url(./images/icon-star.svg) '\00a0'url(./images/icon-star.svg) '\00a0'url(./images/icon-star.svg)
    '\00a0'url(./images/icon-star.svg) '\00a0'url(./images/icon-star.svg);
  margin-bottom: var(--spacer);
  white-space: pre;
}

.testimonial {
  background: hsl(300, 43%, 22%);
  border-radius: var(--border-radius);
  font-size: 0.8125rem;
  text-align: left;
  padding: calc(var(--spacer) * 2);
  max-width: 599px;
}

.testimonial-header {
  display: flex;
  align-items: center;
}

.testimonial-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6;
  font-size: calc(var(--fnt-size-body) - 3px);
}

.testimonial-img {
  height: 40px;
  width: 40px;
  margin-right: calc(var(--spacer) * 1.5);
  border-radius: 50%;
}

.testimonial-name {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.testimonial-status {
  color: hsl(333, 80%, 67%);
}

.testimonial-text {
  color: var(--clr-white);
  line-height: 1.5;
}

.attribution {
  position: fixed;
  background: hsl(0, 0%, 100%);
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: var(--spacer);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.flow > * + * {
  margin-top: calc(var(--spacer) * 2);
}

.flow\:small > * + * {
  margin-top: var(--spacer);
}

@media (min-width: 680px) {
  body {
    margin-bottom: 6rem;
  }

  .hero {
    text-align: initial;
    max-width: 40%;
  }

  .hero-review-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    align-self: center;
    margin-left: var(--spacer);
    margin-right: auto;
  }

  .review {
    display: flex;
    text-align: center;
    padding: var(--spacer);
    align-items: baseline;
    width: 345px;
  }

  .review::before {
    justify-self: center;
    padding-right: var(--spacer);
    margin: 0;
  }

  .review:nth-child(1) {
    margin-right: calc(var(--spacer) * 4);
    margin-left: auto;
  }

  .review:nth-child(2) {
    margin-right: calc(var(--spacer) * 2);
    margin-left: auto;
  }

  .review:nth-child(3) {
    margin-left: auto;
  }

  .testimonials {
    display: flex;
    justify-content: space-between;
    /* gap: var(--spacer); */
  }

  .testimonial {
    max-width: 30%;
  }

  .testimonial:nth-child(2) {
    margin-top: var(--spacer);
    margin-bottom: calc(var(--spacer) * -1);
  }

  .testimonial:nth-child(3) {
    margin-top: calc(var(--spacer) * 2);
    margin-bottom: calc(var(--spacer) * -2);
  }
}

@media (min-width: 800px) {
  body {
    background: url('./images/bg-pattern-top-desktop.svg'),
      url('./images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }

  .wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
